nav {
    background-color: antiquewhite;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

li {
    display: inline;
    padding: 10px;
}

#home {
    margin-right: auto;
}

.dropdown_container {
    position: relative;
}

.dropdown_menu {
    background-color:azure;
    position: absolute;
    flex-direction: column;
    width: 100px
}

.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
}