table {
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid gray;
}

thead tr {
    background-color: turquoise;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

