.bold {
    font-weight: bold;
}

a.bold {
    font-size: 32px;
}

/* pseudo-class */
.a bold {
    color: aqua;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    background-color:bisque;
    padding:36px;
}

h3 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 48px;
    color:aqua;
}

.image_container img {
    width: 100px;
}

